<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Customer Profile</title>
<script src="https://kit.fontawesome.com/0faddc1af8.js"
	crossorigin="anonymous"></script>
</head>
<style>
		* {
			margin: 0;
			padding: 0;
		}

		a {
			text-decoration: none;
		}
		
		#navbarNav{
			display: flex;
			justify-content: end;
		}
		body {
		
		background-image: url('/images/cartbg.jpg');
		background-size: cover;
		background-position: center;
		min-height: 80vh;
		color: white;
	}
	</style>
<body >
 
 
<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<!-- Company Name to the Left -->
				<a class="navbar-brand" href="#" th:href="@{/showCustomerHome}" style="font-size: xx-large; font-weight: 400; color: black;">Food To
					Go</a>

				<!-- Navbar Toggle Button (for smaller screens) -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navigation Links to the Right -->
				<div class="collapse navbar-collapse" id="navbarNav" >
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#" th:href="@{/showCustomerHome}"
								style="font-size: 20px; text-decoration: none; color: black;">Home <span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"  th:href="@{/showCustomerHome}" style="font-size: 20px; text-decoration: none; color: black;">
								About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/customerOrders}"
								style="font-size: 20px; text-decoration: none; color: black;">My order</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/showCart}"
								style="font-size: 20px; text-decoration: none; color: black; ">My Cart</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
 
	<div class="container my-5 col-md-4">
		<table class="table" style="color: white; font-size: large;">
			<tr>
				<th>Name</th>
				<td th:text="${customer.customerName}"></td>
			</tr>
			<tr>
				<th>Contact</th>
				<td th:text="${customer.customerPhoneNumber}"></td>
			</tr>
			<tr>
				<th>EmailID</th>
				<td th:text="${customer.customerEmail}"></td>
			</tr>
			<tr>
				<th>Area</th>
				<td th:text="${customer.customerAddress}"></td>
			</tr>
		</table>
	</div>
	<center><a th:href="@{/updateCustomerForm}"><button type="button" class="btn btn-primary btn-lg" style="background-color: #ff9d1e;">Update Customer</button></a></center>
 
 <a th:href="@{/showCustomerHome}"><button type="button" class="btn btn-primary btn-md" style="background-color: #ff9d1e;">Back</button></a>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
 
</body>
</html>