<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
	 <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item not available</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div>
                <div class="text-center">
                    <h1>Item is not available</h1>
                    <a th:href="@{/showCustomerHome}" style=" text-decoration: none; color: black;" ><button class="btn btn-primary" style="background-color: #ff9d1e; color: black; " >Back Home</button></a>
                </div>
            </div>

</body>
</html>